<div class='row mb-3'>
	<label class='col-sm-2 col-form-label col-form-label-sm'><%= label %></label>
	<div class='col-sm-10'>
		<%= form.number_field attribute, class: 'form-control form-control-sm', required: true %>
	</div>
</div>